html {
    height: 100%;
}

body {
    background-color: #eee;
    font-family: 'Arapey', serif;
    color: #444;
    height: 100%;
}

a {
    color: #8C0000;
    border-bottom: 1px dotted;
    text-decoration: none;
}

a:hover { border-bottom: 1px solid; }
a:visited { color: #551C1C; }

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    background: #eee url(../img/bg_hr.png);
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0.6em 0 0.5em 0;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 19px; }

sup {
    vertical-align: super;
    font-size: smaller;
}

em {
    font-style: italic;
}

.gray { color: #555; }

/* ------------------------------------------------ */

#wrap {
    width: 100%;
    max-width: 900px;
    position: relative;
    bottom: 0;
    min-height: 100%;
}

#side {
    width: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    background-color: #551C1C;
    color: #bbb;
    height: 100%;
    border-right: 1px solid #361212;
    text-shadow: 1px 1px #222;
}

#side h1 {
    font-family: serif;
}

#side a {
    color: #bbb;
    border-bottom: none;
    line-height: 1.6em;
}

#side a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#side #nav {
    margin-top: 2.2em;
}

#main {
    margin-left: 170px;
    min-height: 100%;
}

/* ------------------------------------------------ */

ul#posts {
    list-style: none;
    padding: 0 0 15px 0;
}

#posts li {
    padding: 0 0 8px 0;
}

#posts a.title {
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
}

#posts a.more {
    margin: 0 10px 0 0;
}

/*= for single */

.content {
    font-size: 15px;
}

.content > * {
    margin: 12px 0 12px 0;
    line-height: 1.4em;
}

.content p {
}

.content blockquote {
    padding: 0 20px 0 20px;
    font-style: italic;
    color: #555;
    margin: 0;
}

.content blockquote p {
    padding: 1em 0 1em 0;
}

.content img {
    display: inline-block;
    max-width: 700px;
}

.content pre {
    background: #444;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    line-height: 19px;
    padding: 0.9em;
    overflow: auto;
}

.content ul {
    list-style: circle;
}

.content ol {
    list-style: decimal;
}

.content ul li, .content ol li {
    margin: 0.5em 2em 0.5em 1.5em;
}

.content table th {
    border: 1px solid #eee;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}


/*= for comments */

#comments {
    padding: 20px 0 0 0;
    font-size: 13px;
}

#comments h3 {
    display: none;
}

#comments hr {
    height: 1px;
}

#comments #dsq-pagination, #dsq-sort-by {
    display: none;
}

#comments .dsq-comment-message {
    font: 12px;
}

/* ---------------------------------------------- */

#ft {
    margin: 1em 0.5em 0 -1em;
    color: #444;
    font-size: 11px;
}
