@font-face {
  font-family: 'Port Lligat Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Slab'), local('PortLligatSlab-Regular'), url(../img/web-font.woff) format('woff');
}
