#wrap {
    width: 95%;
    max-width: 95%;
    padding: 0;
    margin: 2%;
}

#mn img {
    max-width: 95%;
}

#mn {
    overflow: hidden;
}

#mn li {
    margin-right: 0;
}

body {
    background-image: none;
}

#ft {
    margin: 1em 0 0 0;
}
