* { padding: 0; margin: 0; }

body {font-family: 'Courier New' arial; font-size: 100%; line-height: 130%;}
h1, h2, h3, h4, h5, h6 {font-family: Trebuchet MS, serif; margin-top: 1em; margin-bottom: 0.8em; }
h1 {font-size: 2.5em; color: #a77070;}
h2 {font-size: 1.6em; color: #779977; margin-top: 1.5em; }
h3 {font-size: 1.3em; color: #555577;}
h4 {font-size: 1.2em; color: #222244;}
h5 {font-size: 1.1em; color: #222244;}
h6 {font-size: 1.0em; color: #222244;}
p, pre, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}
dt {font-weight: bold; }
dd {padding: 0 0 10px 20px;}
img {border: none;}
pre {border-left: 3px solid #ccc; margin-left: 2em; padding-left: 0.5em;}
blockquote {padding: 0.4em; background-color: #D7E8F5;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

/* modification here */

body {
    width: 900px;
    background: #eee;
    text-shadow: #bbb 1px 1px 1px;
    position: relative;
    background: #EBF4FA;
}


#nav {
    position: absolute;
    top: 10px;
    font: normal 14px Courier New;
}

#main {
    padding: 30px 50px 30px 40px;
    overflow: auto;
}

.toc {
    float: right;
    background: #F5F9FD;
    padding: 0em 2em 0em 0;
}
