a {
    color: #0066B2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #6CAAD9;
}

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    background: #eee url(../img/bg_hr.png);
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 1em 0 0.1em 0;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 22px; }
h4 { font-size: 19px; }

body {
    background: #000 url(../img/bg.png) fixed;
    font-family: 'ubuntu', 'WenQuanYi Micro Hei', serif;
    color: #444;
}

/* ------------------------------------------------ */

#wrap {
    width: 800px;
    background: #fff;
    margin: 20px 0 20px 20px;
    padding: 10px 0 10px 0;
}

#wrap > hr {
    margin: 20px 0 30px 0;
}

/* ------------------------------------------------ */

#hd {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}

#hd h1 {
    text-align: center;
    padding: 0.1em 0.4em 0.1em 0;
}

#hd .info {
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 10px auto;
    display: block;
    padding: 0 20px 0 20px;
    font-size: 17px;
    text-align: center;
}

#hd .info a {
    display: inline-block;
    padding: 0 5px 0 5px;
    color: #222;
}

/* ------------------------------------------------ */

#mn {
    width: 100%;
    line-height: 1.2em;
}

#mn hr {
    height: 2px;
}

#mn #posts {
    display: block;
    width: 480px;
    margin: 0 auto;
    overflow: auto;
}

#mn #posts li {
    padding: 0 0 8px 0;
    display: block;
    width: 100%;
    float: left;
}

#mn #posts span.date {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #bbb;
    font-size: 15px;
    display: block;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-top: 10px;
}

#mn #posts a.title {
    vertical-align: middle;
    font-size: 20px;
    line-height: 30px;
    width: 350px;
    display: block;
    float: left;
}

#mn #posts a.more {
    font-size: 15px;
}

/*= for single */

#mn #content {
    padding: 0 20px 0 20px;
    font-size: 15px;
} 

#mn #content > * {
    margin: 12px 0 12px 0;
}

#mn #content p {
    line-height: 1.4em;
}

#mn #content blockquote {
    padding: 10px 0 10px 20px;
    font-style: italic;
    color: #555;
}

#mn #content img {
    display: inline-block;
    max-width: 700px;
}

#mn #content pre {
    background: #444;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    line-height: 19px;
    padding: 10px 0 10px 10px;
    overflow: auto;
}

#mn #content ul {
    list-style: circle;
    padding: 10px 0 10px 0;
}

#mn #content ol {
    list-style: decimal;
    padding: 10px 0 10px 0;
}

#mn #content ul,ol li {
    margin-left: 50px;
}

#mn #content table th {
    border: 1px solid #eee;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}


/*= for comments */

#mn #comments {
    padding: 20px 20px 0 30px;
    font-size: 13px;
}

#mn #comments h3 {
    display: none;
    font-family: 'ubuntu';
}

#mn #comments hr {
    height: 1px;
}

#mn #comments #dsq-pagination, #dsq-sort-by {
    display: none;
}

#mn #comments .dsq-comment-message {
    font: 12px;
}

/* ---------------------------------------------- */

#ft {
    margin: 10px 5px 0 0;
    color: #eee;
    text-align: right;
}
