body {
    border-image: url(/img/bg_hr.png) 3 repeat;
    border-top: 4px solid #6CAAD9;
    background: #F5F5D5;
    font: normal 15px serif,arial;
    line-height: 2em;
}

a {
    color: #0066B2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #6CAAD9;
}

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    padding: 1em 0 0.2em 0;
    color: #285577;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 22px; }
h4 { font-size: 19px; }

/*= for page */

#wrap {
    width: 960px;
    margin: 20px auto;
}

#mn {
    width: 100%;
    line-height: 1.4em;
    padding: 0 20px 0 20px;
    font-size: 15px;
} 

#mn > * {
    margin: 12px 0 12px 0;
}

#mn p {
    line-height: 1.4em;
}

#mn blockquote {
    padding: 10px 0 10px 20px;
    font-style: italic;
    color: #555;
}

#mn img {
    display: inline-block;
    max-width: 700px;
}

#mn pre {
    background: #444;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    line-height: 19px;
    padding: 10px 0 10px 10px;
    overflow: auto;
}

#mn li code, p code {
    background: #eeeeD0;
    border: 1px solid #f3f3f3;
    padding: 1px 5px 1px 5px;
    margin: 0 3px 0 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#mn ul {
    list-style: circle;
    padding: 10px 0 10px 0;
}

#mn ol {
    list-style: decimal;
    padding: 0.4em 0 0.4em 0;
}

#mn li {
    margin: 0 3em 0.5em 3em;
}

#mn table th {
    border: 1px solid #eee;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}


#toc {
    float: right;
}

#toc li {
    margin: 0.2em 0 0.2em 3em;
    padding: none;
}
