body {
    background-color: #eee;
    font-family: 'Arapey', serif;
    color: #444;
    height: 100%;
}

a {
    color: #8C0000;
    text-decoration: none;
}

a:visited { color: #551C1C; }

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    background: #eee url(/images/bg_hr.png);
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0.6em 0 0.5em 0;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 19px; }

sup {
    vertical-align: super;
    font-size: smaller;
}

em {
    font-style: italic;
}

code {
    background: #dedede;
    color: #555;
}

.gray { color: #555; }

/* ------------------------------------------------ */

#col-sidebar {
    text-align: right;
}

#col-sidebar h1 {
    font-family: serif;
}

#col-sidebar a {
    line-height: 1.6em;
}

/* ------------------------------------------------ */

ul.posts {
    list-style: none;
    padding: 0 0 15px 0;
}

.posts li {
    padding: 0 0 8px 0;
}

.posts a.title {
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
}

.posts a.more {
    margin: 0 10px 0 0;
}

/*= for single */

.content > * {
    margin-bottom: 15px;
}

.content p {
    line-height: 1.4em;
}

.content blockquote {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.content blockquote p {
    padding: 1em 0 1em 0;
}

.content img {
    display: inline-block;
    max-width: 100%;
}

.content pre {
    background: #444;
    margin-top: 15px;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    line-height: 19px;
    padding: 0.9em;
    overflow: auto;
}

.content ul {
    list-style: circle;
}

.content > ol {
    list-style: decimal;
}

.content ul li, .content ol li {
    margin: 0 0 0 1.5em;
    line-height: 1.4em;
}

.content table th {
    border: 1px solid #eee;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}


/*= for comments */

.comments {
    padding: 20px 0 0 0;
    font-size: 13px;
}

.comments h3 {
    display: none;
}

.comments hr {
    height: 1px;
}

.comments #dsq-pagination, #dsq-sort-by {
    display: none;
}

.comments .dsq-comment-message {
    font: 12px;
}
