body {
    background-color: #fefefe;
    font-family: 'Alegreya', serif;
    color: #111;
    height: 100%;
    font-size: 15px;
}

a {
    color: #0066B2;
    text-decoration: none;
}

a:visited { color: #285577; }

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 3px;
    background: #eee url(/images/bg_hr.png);
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0.5em 0 0.5em 0;
}

h1 { font-size: 28px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

sup {
    vertical-align: super;
    font-size: smaller;
}

em {
    font-style: italic;
}

code {
    background: #f1f1f1;
    color: #555;
}

.gray { color: #aaa; }
.pink { color: deeppink;}

/* ------------------------------------------------ */

.row-header {
    background: url(/images/bg-blog-header.jpg) no-repeat 50%;;
    background-size: cover;
    margin-bottom: 1em;
    padding: 20em 0 1em 0;
}

@media screen and (max-width: 42em) {
  .row-header { padding: 1rem 0 1rem 0; }
}

.row-header .list-nav a {
    line-height: 2em;
    color: #f2f2f2;
    opacity: 0.5;
    text-shadow: 0.2px 0.2px 0.1px #000;
}

.row-header .list-nav b {
    line-height: 2em;
    color: #f2f2f2;
    opacity: 0.8;
    text-shadow: 0.2px 0.2px 0.1px #000;
}

.col-main {
    padding-bottom: 60px;
}

/* ------------------------------------------------ */

ul.posts {
    list-style: none;
    padding: 0 0 15px 0;
}

.posts > li {
    padding: 0 0 8px 0;
}

.posts a.title {
    vertical-align: middle;
    line-height: 20px;
}

/*= for single */

.content > p {
    margin-bottom: 15px;
    line-height: 1.4em;
}

.content > blockquote {
    margin-bottom: 15px;
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.content blockquote p {
    padding: 1em 0 1em 0;
}

.content > img {
    margin-bottom: 15px;
    display: inline-block;
    max-width: 100%;
}

.content pre {
    margin-bottom: 15px;
    display: block;
    background: #444;
    margin: 15px 0 15px 0;
    color: #fff;
    font-family: monospace;
    line-height: 19px;
    padding: 0.9em;
    overflow: auto;
}

.content > ul {
    margin-bottom: 15px;
    list-style: circle;
}

.content > ol {
    margin-bottom: 15px;
    list-style: decimal;
}

.content > ul li, .content > ol li {
    line-height: 1.4em;
}

.content table th {
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}

/*= for comments */

.comments {
    padding: 20px 0 0 0;
}

.comments h3 {
    display: none;
}

.comments hr {
    height: 1px;
}

.comments #dsq-pagination, #dsq-sort-by {
    display: none;
}

.comments .dsq-comment-message {
    font: 12px;
}
