.box_shadowed {
    -moz-box-shadow: 2px 2px 4px #888;
    -webkit-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.inner_box_shadowed {
    -moz-box-shadow: inset 0px 0px 3px #706751;
    -webkit-box-shadow: inset 0px 0px 3px #706751;
    box-shadow: inset 0px 0px 3px #706751;
}

.rounded {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
