{{ define "main" }}
<style>
  .page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 720px;
    padding: 0 28px;
    font-size: 17px;
    color: #2f3034;
  }
  
  .content-column {
    width: 100%;
    box-sizing: border-box;
    min-width: auto;
    max-width: 720px;
  }
  
  .section ul,
  .section ol {
    margin: 0 0 1.3em 1.7em;
    padding: 0;
    list-style-position: outside;
  }
  
  .section li {
    margin-bottom: 0.45em;
  }
  
  @media (max-width: 992px) {
    .page-container {
      flex-direction: column;
      padding: 0 20px;
    }
    
    .content-column {
      width: 100%;
      padding-right: 0;
      min-width: auto;
      max-width: 720px;
      margin: 0 auto;
    }
  }
</style>

<div class="page-container">
  <div class="content-column">
    <div class="section">
      {{ with .Site.GetPage "_about" }}
        {{ .Content }}
      {{ end }}
    </div>    
    
    <div class="section">
      <div class="works-title">Writing</div>

      {{ range sort (where .Site.RegularPages "Section" "posts") "Date" "desc" }}
      <div class="work-item">
        <a href="{{ .RelPermalink }}" class="work-link">
          <span class="work-title">{{ .Title }}</span> 
          <span class="year">({{ if .Params.originalYear }}{{ .Params.originalYear }}{{ else }}{{ .Date.Format "2006" }}{{ end }})</span>
          <div class="description">{{ .Description }}</div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
