<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
        {% if page.icon %}
        <link rel="shortcut icon" type="image/png" href="{{page.icon}}" />
        {% else %}
        <link rel="shortcut icon" type="image/png" href="/images/icon.jpg" />
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/blog.css">
        {% if page.title %}
        <title>{{ page.title }}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <ul class="list-inline">
                        <li><a href="/">home</a></li>
                        <li><a href="/archive.html">archive</a></li>
                        <li><a href="/about.html">about</a></li>
                        <li><a href="/links.html">links</a></li>
                        <li><a href="/atom.xml">atom</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div id="col-sidebar" class="hidden-xs hidden-sm col-xs-2 col-sm-2 col-md-2">
                    <a href="/"><h1> {{ site.title }} </h1></a>
                    <div>
                        <em class="author"> by {{ site.author_name }}</a></em>
                        <ul>
                        </ul>
                    </div>
                </div>

                <div id="col-main" class="col-xs-12 col-sm-12 col-md-8">
                    {{content}}
                </div>
            </div>
        </div>
    </body>
</html>

