<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> 
        <link rel="shortcut icon" type="image/png" href="/img/icon.jpg" />
        <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
        <style>
            @import url(/css/reset.css);
            @import url(/css/toolkit.css);
            @import url(/css/style.css);
        </style>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div id="wrap" class="rounded inner_box_shadowed">
            <div id="hd">
                <h1>{{ page.title }}</h1>
                <span class="desc info">
                    <a href="/index.html">fleuria</a>
                    <a href="/about.html">»	</a>
                </span>
                {% if page.date %}
                    <span class="date info">{{ page.date | date_to_string }}</span>
                {% endif %}
            </div>

            <hr/>

            <div id="mn">
                {{content}}
            </div>
            
            <div id="ft">
                hosted on github, and powered by jekyll. (<a href="/atom.xml">rss</a>)
            </div>
        </div>
    </body>
</html>

