<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
    {% if page.icon %}
      <link rel="shortcut icon" type="image/png" href="{{page.icon}}" />
    {% else %}
      <link rel="shortcut icon" type="image/png" href="/img/icon.jpg" />
    {% endif %}
    <style>
      @import url(/css/font-face.css);
      @import url(/css/reset.css);
      @import url(/css/toolkit.css);
      @import url(/css/blog.css);
    </style>
    <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="all and (max-device-width: 799px)" href="/css/mobile.css">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
  </head>
  <body>
    <div id="wrap">
      <div id="side">
        <h1> {{ site.title }} </h1>
        <em> by {{ site.author_name }}</a></em>
        <ul id="nav">
          <li><a href="/">home</a></li>
          <li><a href="/archieve.html">archieve</a></li>
          <li><a href="/about.html">about</a></li>
          <li><a href="/links.html">links</a></li>
          <li><a href="/atom.xml">atom</a></li>
        </ul>
      </div>

      <div id="main">
        <h1>{{ page.title }} &nbsp; </h1>
        {% if page.date %}
          <em class="date">{{ page.date | date_to_string }}</em>
        {% endif %}
        {{content}}
      </div>
    </div>
  </body>
</html>

